<div class="flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto my-56 max-w-md md:max-w-2xl ">
    <div class="flex items-start px-4 py-6">
        <div class="">
            <div class="flex items-center justify-between">
                <h2 class="text-xl font-semibold text-gray-900 -mt-1"><u>{{User.username}} WaterLover98</u></h2>
                <small class="text-sm text-gray-700"></small>
            </div>
            <p class="text-gray-700" "text-lg">{{ForumPost.post_title}} I actually enjoy tap water </p>
            <p class="mt-3 text-gray-700 text-sm">
                {{ForumPost.content}} Please dont judge me
            </p>
            <br>
            <div class="flex mr-2 text-gray-700 text-sm mr-3">
                <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
                <span>{{ForumPost.vote-total}}</span>
            </div>
        </div>
    </div>
</div>
</div>
