<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydro Home</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jass.css"
</head>

<body>
    <header>
        <h1>Welcome, hydro homie!</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/forum">Forum</a>
    </nav>

        {{#if logged_in}}
        <a href="/"></a> |
        {{else}}
        <a href="/login"></a>
        {{/if}}

    <div>
        {{{body}}}
    </div>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>

</html>