<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydro Home</title>


    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jass.css"


    <link rel="stylesheet" href="./css/style.css">
     <script src="https://cdn.tailwindcss.com"></script>

</head>

<body >
    <header class="bg-gradient-to-r from-cyan-500 via-sky-800 to-cyan-500 flex justify-center">
        <img class="object-contain h-20 flex justify-center" src="/images/hydro-home-logo.png" alt="Hydro Home logo">
    </header>
    <nav class="pb-1 pr-4 bg-gradient-to-r from-cyan-500 via-sky-800 to-cyan-500 text-slate-200 text-right text-base">
        {{#if logged_in}}
        <a class="px-4" href="/">Home</a>
        <a class="px-4" href="/forum">Forum</a>
        <button id="logout-button">Logout</button>
        {{else}}
        <a href="/login"></a>
        {{/if}}

    </nav>
    

        {{#if logged_in}}
        <a href="/"></a> |
        {{else}}
        <a href="/login"></a>
        {{/if}}

    <div>
        {{{body}}}
    </div>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>

    <script src="js/logout.js"></script>

</html>