<div class="bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
    <div class="text-white">
        <div class="mb-8 flex flex-col items-center">
            <span class="text-gray-300">Submit a new forum post</span>
        </div>
        <form action="#">
            <div class="mb-4 text-lg flex justify-center">
                <input
                    class="border-none bg-gray-50 px-6 py-2 text-center text-gray-900 placeholder-gray-700 shadow-lg outline-none backdrop-blur-md"
                    type="text" name="name" placeholder="Post Title" />
            </div>

            <div class="mb-4 text-lg flex justify-center">
                <input
                    class="border-none bg-gray-50 px-6 py-2 text-center text-gray-900 placeholder-gray-700 shadow-lg outline-none backdrop-blur-md"
                    type="text" name="name" placeholder="Post Content" />
            </div>

            <div class="mt-8 flex justify-center text-lg text-black">
                <button type="submit"
                    class="rounded-3xl bg-blue-200 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-blue-600">Submit</button>
            </div>
        </form>
    </div>
</div>


{{#each forumPosts as |post-details|}}
{{> post-details}}
{{/each}}
