<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<div class="flex">
  <div class="dailyChartBox">
    <canvas id="dailyChart"></canvas>
  </div>

  <div>
      <label for="waterIntake">Today's Intake</label>
      <input name="waterIntake" id="waterIntake" type="number">
  </div>

  <button onclick="updateValue()">Add Water</button>

  <div>
      <label for="Today's Goal">Today's Goal (in ounces)</label>
      <input name="waterGoal" id="waterGoal" type="number">
  </div>

<button onclick="updateGoal()">Set Goal</button>

<div class="weeklyChartBox">
  <canvas id="weeklyChart"></canvas>
</div>
<script src="./js/barChart.js"></script>