<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div>
  <canvas id="dailyChart"></canvas>
</div>

<script src="./js/barChart.js"></script>

<div>
    <label for="waterIntake">Water Intake</label>
    <input name="waterIntake" id="waterIntake" type="number">
</div>

<button onclick="addData(dailyChart)">Add Water</button>




