<link rel="stylesheet" href="./css/style.css" />
<script src="https://cdn.tailwindcss.com"></script>

<div
    class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
    style="background-image:url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80')"
>
    <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
        <div class="text-white">
            <div class="mb-8 flex flex-col items-center">
                <img src="\images\hydro-home-logo.png" alt="Hydro Home logo" />
                <span class="text-gray-300">Enter Login Details</span>
            </div>
            <form class="login-form">
                <div class="mb-4 text-lg">
                    <input
                        class="rounded-3xl border-none bg-blue-800 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                        type="text"
                        name="name"
                        id="login-id"
                        placeholder="waterlover@email.com"
                    />
                </div>

                <div class="mb-4 text-lg">
                    <input
                        class="rounded-3xl border-none bg-blue-800 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                        type="Password"
                        name="name"
                        id="login-password"
                        placeholder="*********"
                    />
                </div>
                <div class="mt-8 flex justify-center text-lg text-black">
                    <button
                        type="submit"
                        class="rounded-3xl bg-blue-200 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-blue-600"
                    >Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
        <div class="text-white">
            <div class="mb-8 flex flex-col items-center">
                <img src="\images\hydro-home-logo.png" alt="Hydro Home logo" />
                <span class="text-gray-300">Sign up to be a hydro homie!</span>
            </div>
            <form class="signup-form">
                <div class="mb-4 text-lg">
                    <input
                        class="rounded-3xl border-none bg-blue-800 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                        type="text"
                        name="name"
                        placeholder="waterlover@email.com"
                        id="signup-email"
                    />
                </div>

                <div class="mb-4 text-lg">
                    <input
                        class="rounded-3xl border-none bg-blue-800 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                        type="text"
                        name="name"
                        placeholder="waterlover98"
                        id="signup-username"
                    />
                </div>

                <div class="mb-4 text-lg">
                    <input
                        class="rounded-3xl border-none bg-blue-800 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                        type="Password"
                        name="name"
                        placeholder="*********"
                        id="signup-password"
                    />
                </div>
                <div class="mt-8 flex justify-center text-lg text-black">
                    <button
                        type="submit"
                        class="rounded-3xl bg-blue-200 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-blue-600"
                    >Create Account</button>
                </div>
            </form>
<<<<<<< Updated upstream
=======
            <div class="pt-1 text-center">or <a class="underline" href="/signup">Sign up</a>.</div>
>>>>>>> Stashed changes
        </div>
    </div>
</div>

<link rel="stylesheet" href="./css/style.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>